/* home start */

#home {
    /* display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px;*/
    width: 85%;
    margin: 40px auto;
    background: transparent;
    color: #fff;
}

#home>div>p:nth-child(1) {
    font-size: 150px;
    margin: 0 0 0 -10px;
}

#home>div>p:nth-child(2) {
    font-size: 50px;
    margin: -45px 0 0 0;
}

#home>div>p:nth-child(3) {
    font-size: 30px;
}


/* home End */

/* About start */

#about>.container {
    padding: 100px 0;
}

#about>.container>.row>div:nth-child(1)>div {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

.btn {
    border: 1px solid #07F7F7;
    color: #07F7F7;
}

.btn-outline-info:hover {
    background-color: #07F7F7;
}

#about > .container > .row > div:nth-child(2) > h2,p > span{
    color: #07F7F7;
}

/* About End */


/* Skills start*/

.skills-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#skills>h2 {
    text-align: center;
}

.skills-parent>div {
    border: 1px solid black;
}

/* Skills end */

/* background image start */

.background-image-overlay {
    background-image: url('../images/home1.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* background image end */


/* navbar start */
.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    /* background-color: #d58525; */
    background: linear-gradient(to right, #17D396, #07F7F7);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* navbar end */